<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comments Index</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">Comments</h1>
        <ul class="is-size-3">
          <%for(let c of comments){ %>
          <li>
            <%= c.comment %> -
            <b class="has-text-weight-semibold"> <%= c.username %> </b>
            <a href="/comments/<%= c.id %> " class="button is-success">
              <span class="icon">
                <i class="fas fa-info-circle"></i>
              </span>
              <span>View</span>
            </a>
            <a href="/comments/<%= c.id %>/edit " class="button is-warning">
              <span class="icon">
                <i class="fas fa-edit"></i>
              </span>
              <span>Edit</span>
            </a>
            <form action="/comments/<%= c.id %>?_method=DELETE" method="post">
              <button class="button is-danger">
                <span class="icon">
                  <i class="fas fa-trash"></i>
                </span>
                <span>Delete</span>
              </button>
            </form>
          </li>
          <% } %>
        </ul>
      </div>
    </section>
    <section class="section">
      <a href="/comments/new" class="button is-link">Add New Comment</a>
    </section>
  </body>
</html>
