<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Comment</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">Show Comment ID: <%= comment.id %></h1>
        <h2 class="subtitle">
          <%= comment.comment %> -
          <b class="has-text-weight-semibold"> <%= comment.username %> </b>
        </h2>
      </div>

      <a href="/comments/<%= comment.id %>/edit " class="button is-warning">
        <span class="icon">
          <i class="fas fa-edit"></i>
        </span>
        <span>Edit</span>
      </a>
      <form action="/comments/<%= comment.id %>?_method=DELETE" method="post">
        <button class="button is-danger">
          <span class="icon">
            <i class="fas fa-trash"></i>
          </span>
          <span>Delete</span>
        </button>
      </form>
    </section>
    <section class="section">
      <a href="/comments" class="button is-link">Back to Comment</a>
    </section>
  </body>
</html>
