<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= category %> Products</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  </head>
  <body>
    <main class="container m-5">
      <h1 class="is-size-1 has-text-centered"><%= category %> Products</h1>
      <section class="section">
        <a href="/products/new" class="button is-success">Add New Product</a>
        <% if (category !== 'All') { %>
        <a href="/products" class="button is-primary"> All Products</a>
        <% } %>
      </section>
      <section class="section">
        <ul class="">
          <% for(let product of products) {%>
          <li>
            <a href="/products/<%= product._id %>">
              <div class="card m-2 p-2">
                <div class="card-content">
                  <p class="title"><%= product.name %></p>
                </div>
                <footer class="card-footer">
                  <a
                    href="/products/<%= product._id %>"
                    class="card-footer-item"
                    >View</a
                  >
                  <a
                    href="/products/<%= product._id %>/edit"
                    class="card-footer-item"
                    >Edit</a
                  >
                  <form
                    action="/products/<%= product.id %>?_method=DELETE"
                    method="POST"
                  >
                    <button class="card-footer-item">Delete</button>
                  </form>
                </footer>
              </div>
            </a>
          </li>
          <% } %>
        </ul>
      </section>
    </main>
  </body>
</html>
