<% layout('layouts/boilerplate.ejs') %>

<div class="row">
  <h1 class="h1 text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          value="<%= campground.title %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          value="<%= campground.location %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            aria-label="Amount (to the nearest dollar)"
            placeholder="0"
            name="campground[price]"
            value="<%= campground.price %> "
            required
          />
          <span class="input-group-text">.00</span>
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          name="campground[description]"
          id="description"
          required
        >
        <%= campground.description %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!-- image form -->
      <div class="mb-3">
        <div class="form-file custom-file">
          <input
            class="form-control"
            type="file"
            name="image"
            id="image"
            multiple
          />
          <label class="form-label custom-file-label" for="image">
            Add more image(s) ...
          </label>
        </div>
      </div>

      <!-- show existing images and a delete option -->
      <div class="mb-3">
        <% campground.images.forEach(function(img,i) { %>
        <img
          src="<%= img.thumbnail %>"
          alt="campground"
          class="img-thumbnail"
        />
        <div class="form-check-inline">
          <input
            type="checkbox"
            id="image-<%= i %>"
            name="deleteImages[]"
            value="<%= img.filename %>"
          />
          <label class="form-check-label" for="image-<%= i %>"> Delete</label>
        </div>

        <% }) %>
      </div>

      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
        <a href="/campgrounds" class="btn btn-outline-danger">Cancle</a>
      </div>
    </form>
  </div>
</div>
